.Sidenav nav {
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #000204;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav-link {
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    color: white !important;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 40px;
}