.container{
    /* background-image: url("C:\Users\MSI GAMING\Desktop\myproject\client\src\Images\bg.jpg"); */
    padding: 50px 150px 50px 150px;
    width: 100%;
    cursor: relative;
    color: rgb(0, 0, 0);
  }
