.DocSchContainer {
    margin-left: 10%;
}

.ScheduleAdd h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #23345d;
    font-size: 45px;
}


/* .DoctorAdd {
    margin-left: 13%;
} */

.form-control {
    width: 700px;
}


/* .form-group {} */


/* 
.AddDocForm {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 700px;
    max-width: 700px;
} */

.btn-primary {
    background-color: #043a48;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.set{
    background: #31775a96;
}